@icon-font-path: "bootstrap/fonts/";

@import 'bootstrap/less/bootstrap.less';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    //ry who the fuck came out with that idea!? this goes totally against polyfills...
    //padding-top: 20px;
    //padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.slots {
  height: 40px;
  border: 1px dotted red;
}

.no-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
}

#alerts {
  &:first-child { margin-top: 10px; }
}

.game {
  position: relative;
}

.elements {
  list-style: none;
}

.menu-container {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-entry {
  a {
    margin-right: 0.5em !important;
  }

  a:hover {
    margin-top: 0.5em !important;
    background-color: transparent !important;
  }

  &.achievements a {
    background-image: url(images/trophy_gas__x1_1_png_1354832341.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &.shop a {
    background-image: url(images/bag_bigger/bag_bigger__x1_iconic_png_1354832598.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &.cook-book a {
    background-image: url(images/death_to_veg/death_to_veg__x1_iconic_png_1354840586.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.table-container {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-image: url(images/crafting-table-bg.png);
}

.table-container {
}

.table-container .slots .element {
  float: left;
}


.inventory-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.inventory-container .elements {
  position: absolute;
  width: 1200px;
  height: 450px;
  top: 0;
  left: 0;

  .ui-element() {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    z-index: 2;
    //background: rgba(250, 250, 250, 0.6);
  }

  .element {
    .ui-element()
  }

  .element[data-id='fire'] {
    left: 120px;
  }

  .element[data-id='wind'] {
    left: 120px;
    top: 120px;
  }

  .element[data-id="water"] {
    left: 120px;
    top: 60px;
  }

  .element[data-id="earth"] {
    left: 60px;
    top: 200px;
  }
}

.table-container .npc.gnome {
  position: absolute;
  top: 0; //34px;
  right: 34px;
  a {
    padding: 5px 15px;
  }
}
.npc.gnome {
  background: url(images/npc_cubimal_gnome/ani_walk.png) 0 0;
  width: 38px;
  height: 31px;
  &.animate {
    animation: play-1-20 2s steps(20) infinite;

    @keyframes play-1-20 {
      from { background-position: 0px 0; }
      to   { background-position: -2280px 0; }
    }
  }
}
