<div class="col-md-12">
  <div class="achievements">
  <h1>Achievements</h1>
    {{#each achievements}}
      {{#unless locked}}
        <div class="row">
          <div class="alert alert-info">
            <div class="col-xs-12"><span class="icon ach-{{icon}}"></span></div>
            <div class="">{{name}}</div>
            <div class=""><span>{{description}}</span></div>
        </div>
      </div>
      {{/unless}}
    {{/each}}
  </div>
</div>
