<div class="achievements row">
<h3>Achievements</h3>
{{#each achievements}}
	{{#unless locked}}
	<div class="row">
		<div class="col-xs-4">
			{{icon}} 		
		</div>
		<div class="col-xs-8">
		{{name}}
		</div>
	</div>
		<div class="row">	
			<div class="col-xs-12">
				<span>{{description}}</span>
			</div>
		</div>
	{{/unless}}
{{/each}}
</div>
