<p class="text-center">
  <a id="craft" href="#">Craft it!</a>
</p>
<div class="slots">
  <div class="slot slot-0"></div>
  <div class="slot slot-1"></div>
  <div class="slot slot-2 locked"></div>
  <div class="slot slot-3 locked"></div>
</div>
