<div class="game-container">
  <div class="cook-book-container">
  </div>

  <div class="achievements-container">
  </div>
  <div id="hud" class="row">
    <div class="score-container pull-up">
    </div>
    <div class="golds-container pull-up">
    </div>
  </div>
    <div class="shop-container row pull-up">
    </div>

  <div class="game row">
    <div class="col-md-12">
      <div class="menu-container row">
      </div>
      <div class="row">
        <div class="table-container col-md-12"></div>
      </div>
      <div class="row">
        <div class="inventory-container">
          <img class="game-bg" src="styles/images/game-bg.png">
        </div>
      </div>
    </div>
  </div>

</div>
