<ul class="nav nav-pills pull-right">
  <li class="menu-entry cook-book"><a data-tooltip="Recipes" href="#">&nbsp;</a></li>
  <li class="menu-entry achievements" ><a data-tooltip="Trophies" href="#">&nbsp;</a></li>
  <li class="menu-entry shop"><a data-tooltip="Shop" href="#">&nbsp;</a></li>
</ul>
