<ul class="nav nav-pills pull-right">
  <li class="menu-entry cook-book"><a title="Recipes" href="#">&nbsp;</a></li>
  <li class="menu-entry achievements" ><a title="Trophies" href="#">&nbsp;</a></li>
  <li class="menu-entry shop"><a title="Shop" href="#">&nbsp;</a></li>
</ul>
