<div class="cook-book-container">
</div>

<div class="achievements-container">
</div>
<div class="score-container row pull-up">
</div>

<div class="game row">
  <div class="menu-container">
  </div>
  <div class="inventory-container">
  </div>
</div>

<div class="table-container row">
</div>
