<div class="game-container">
  <div class="cook-book-container">
  </div>

  <div class="achievements-container">
  </div>
  <div id="hud" class="row">
    <div class="score-container pull-up">
    </div>
    <div class="golds-container pull-up">
    </div>
  </div>
    <div class="shop-container row pull-up">
    </div>

  <div class="game row">
    <div class="menu-container">
    </div>
    <div class="inventory-container">
    <img class="game-bg" src="styles/images/game-bg.png">
    </div>
  </div>

  <div class="table-container row">
  </div>
</div>
