<ul class="nav nav-pills pull-right">
  <li class="menu-entry-cook-book active"><a href="#">R</a></li>
  <li class="menu-entry-achievements" ><a href="#">A</a></li>
  <li class="menu-entry-shop"><a href="#">S</a></li>
</ul>
