<div class="game-container">
  <div class="row"><div class="cook-book-container"></div></div>
  <div class="row"><div class="achievements-container"></div></div>
  <div class="row"><div class="shop-container"></div></div>
  <div class="row">
    <div id="hud" class="col-md-12">
      <div class="score-container pull-up">
      </div>
      <div class="golds-container pull-up">
      </div>
    </div>
  </div>

  <div class="game row">

    <div class="col-md-12">

      <div class="row">
        <div class="menu-container"></div>
      </div>

      <div class="row">
        <div class="inventory-container"></div>
      </div>

      <div class="row">
        <div class="table-container col-md-12" onselectstart="return false" ondragstart="return false"></div>
      </div>

    </div>

  </div>

</div>
