<div class="elements"></div>
<div class="cabinets" onselectstart="return false" ondragstart="return false">
  <div class="cabinet rank0">
    <div class="case floor2"><img src="styles/images/case-rank0.png"></div>
    <div class="case floor1"><img src="styles/images/case-rank0.png"></div>
  </div>

  <div class="cabinet rank1 locked">
    <div class="case floor2"><img src="styles/images/case-rank1.png"></div>
    <div class="case floor1"><img src="styles/images/case-rank1.png"></div>
  </div>

  <div class="cabinet rank2 locked">
    <div class="case floor2"><img src="styles/images/case-rank2.png"></div>
    <div class="case floor1"><img src="styles/images/case-rank2.png"></div>
  </div>

  <div class="cabinet rank3 locked">
    <div class="case floor3"><img src="styles/images/case-rank3.png"></div>
    <div class="case floor2"><img src="styles/images/case-rank3.png"></div>
    <div class="case floor1"><img src="styles/images/case-rank3.png"></div>
  </div>

  <div class="cabinet rank4 locked">
    <div class="case floor3"><img src="styles/images/case-rank4.png"></div>
    <div class="case floor2"><img src="styles/images/case-rank4.png"></div>
    <div class="case floor1"><img src="styles/images/case-rank4.png"></div>
  </div>
</div>
