<div class="elements"></div>
<div class="cabinet cabinet-rank0">
	<div class="case-rank0 floor2"> 
		<img src="styles/images/case-rank0.png">
	</div>
	<div class="case-rank0 floor1"> 
		<img src="styles/images/case-rank0.png">
	</div>
	<img src="styles/images/cabinet-rank0.png">
</div>
<img class="game-bg" src="styles/images/game-bg.png">
